// Color Variables
$primary-core-blue: #154973;
$secondary-core-blue: #457AA5;
$link-blue: #004DD1;
$tertiary-core-blue: #EFF6FB;
$quaternary-blue: #007AC2;

$core-accent-yellow: #FACE00;
$yellow-alert: #FFE396;

$black: #000000;
$darkest-gray: #242424;
$dark-gray: #62666A;
$mid-gray: #D0D0CE;
$light-gray: #EDEDED;
$white: #FFFFFF;

$lightest-gray: #FCFCFC; // used on login page
$filter-gray: #7d7d7d; // used on filterForm pages and inputs

$dark-red-alert: #B32E31;
$light-red-alert: #FEC3C3;

// Rarely used colors
$success-green: #329d08;
$warning-orange: #d4820c;