<article class="flex flex-col mx-8 my-6 bg-ny-light rounded-3xl border-ny-mid  border-1 border lg:w-2/3 w-full">
<div class="flex md:flex-row flex-col items-center justify-between w-full md:mb-0 mb-4">
<h2 class="font-bold text-2xl mx-8 my-4">{{params.title}}</h2><span class="text-sm bg-slate-300 px-4 py-1 rounded-xl font-bold mr-4 border border-black">{{params.type}}</span>
</div>
<p class="mx-8 mb-4">{{params.content}}</p>
{%if params.image%}<img class="object-cover max-h-96 m-auto px-8" src="/img/paws/{{params.image}}" alt="{{params.imagealt}}" />
<h3 class="text-center italic font-bold mb-4"> Screenshot of Current Formatting </h3>{%endif%}
</article>