<section class="flex flex-col -mx-8 md:-mx-20 my-14">
<h2 class="nysds-text-36 font-extrabold text-center mb-4 w-full">Title of the Card Frame</h2>
<div class="self-center lg:justify-center flex flex-col lg:flex-row lg:flex-wrap">

<!-- first card -->
<article class="nysds-w-360 mx-4 my-6 bg-ny-light rounded-3xl hover:outline-ny-mid hover:outline-1 hover:outline">
<div class="h-56">
<a href="#" tabindex="-1" aria-hidden="true"> <!-- card link needed -->
<img class="rounded-3xl object-cover" src="IMAGE LINK HERE" alt="PUT ALT TEXT HERE" /> <!-- you need to add this stuff in -->
</a>
</div>
<h3 class="font-bold text-xl mb-6 mt-10">
<a class="hover:underline focus:underline text-ny-links mx-6" href="#">Card Title Here</a> <!-- card link needed -->
</h3>
<p class="m-6">Main card content goes here</p>
</article>
<!-- end first card -->

<!--second card -->
<article class="nysds-w-360 mx-4 my-6 bg-ny-light rounded-3xl hover:outline-ny-mid hover:outline-1 hover:outline">
<div class="h-56">
<a href="#" tabindex="-1" aria-hidden="true"> <!-- card link needed -->
<img class="rounded-3xl object-cover" src="IMAGE LINK HERE" alt="PUT ALT TEXT HERE" /> <!-- you need to add this stuff in -->
</a>
</div>
<h3 class="font-bold text-xl mb-6 mt-10">
<a class="hover:underline focus:underline text-ny-links mx-6" href="#">Card Title Here</a> <!-- card link needed -->
</h3>
<p class="m-6">Main card content goes here</p>
</article>
<!-- end second card -->

<!-- third card -->
<article class="nysds-w-360 mx-4 my-6 bg-ny-light rounded-3xl hover:outline-ny-mid hover:outline-1 hover:outline">
<div class="h-56">
<a href="#" tabindex="-1" aria-hidden="true"> <!-- card link needed -->
<img class="rounded-3xl object-cover" src="IMAGE LINK HERE" alt="PUT ALT TEXT HERE" /> <!-- you need to add this stuff in -->
</a>
</div>
<h3 class="font-bold text-xl mb-6 mt-10">
<a class="hover:underline focus:underline text-ny-links mx-6" href="#">Card Title Here</a> <!-- card link needed -->
</h3>
<p class="m-6">Main card content goes here</p>
</article>
<!-- end third card -->

</div>
</section>