.nysds-avatar {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
}

.nysds-avatar-blue {
    background-color: #154973;
    color: #fff;
}

.nysds-avatar-img-container {
    display: flex;
    justify-content: center;
    margin: 0 3%;
}

.nysds-avatar-img {
    object-fit: cover;
    object-position: top center;
    border-radius:50%;
    width: 250px;
    height: 250px;
}

.nysds-avatar-bio {
    display: flex;
    flex-direction: column;

}

.nysds-avatar-name {
    font-size: 2rem;
    margin:0.5em auto;
}

.nysds-avatar-title {
    font-size: 1rem;
    margin:0.1em auto;
    font-style: italic;
}

.nysds-avatar-description {
    line-height: 1.5em;
}

.nysds-avatar-inner {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
}


/* desktop */
@media (min-width: 1024px) {
    .nysds-avatar-name {
        margin:0.5em 0;
    }
    
    .nysds-avatar-title {
        margin:0.1em 0;
    }

    .nysds-avatar {
        padding: 5% 10%;
    }

    .nysds-avatar-inner {
        width: 80%;
        flex-direction: row;
    }
}