<section class="nysds-avatar">

    <div class="nysds-avatar-img-container">
        <img class="nysds-avatar-img" alt="{{params.alt}}" src="{{params.img}}" />
    </div>

    <div class="nysds-avatar-bio">
        <h2 class="nysds-avatar-name">{{params.name}}</h2>
        <p class="nysds-avatar-description">{{params.bio}}</p>
    </div>

</section>