<section class="-mx-8 md:-mx-20 bg-admin-third my-14 py-12">
<h3 class="nysds-text-36 font-extrabold text-center mb-4">{{params.title}}</h3>
<ul class="flex flex-row flex-wrap justify-center list-none mx-8 md:mx-0" >
{% for item in params.items %}
<li class="m-2 w-full md:w-1/3 lg:w-1/5  "><a href="{{ item.link }}" class="flex items-center justify-center text-center h-20 md:h-24 lg:h-28 m-2 p-8 text-white tracking-wide text-md font-bold rounded-xl uppercase hover:underline hover:bg-white hover:text-black bg-admin-first focus:bg-white focus:text-black focus:underline">{{ item.text | truncate(100)}} </a></li>
{% endfor %}
</ul>
</section>