<section class="-mx-8 md:-mx-20 bg-admin-third my-14 py-8">
<h2 class="nysds-text-36 font-extrabold text-black text-center mb-4 w-full">{{params.title}}</h2>
<ul class="flex flex-row flex-wrap justify-center list-none mx-8 md:mx-0 2xl:w-2/3 2xl:self-center 2xl:m-auto">
{% for item in params.items %}
<li class="m-1 md:m-2 lg:m-4 w-full md:w-1/3 lg:w-1/5"><a href="{{ item.link }}" class="flex items-center justify-center text-center h-20 md:h-28 lg:h-32 p-8 !text-white visited:!text-white !no-underline tracking-wide text-md font-bold rounded-xl uppercase hover:!underline hover:bg-black bg-admin-first focus:bg-black focus:!underline">{{ item.text | truncate(100)}} </a></li>
{% endfor %}
</ul>
</section>