@media (min-width: 1024px) {
.lg\:ml-18 {
    margin-left: 4.5rem;
}   

.lg\:nysds-text-36 {
    font-size: 36px;
}

.lg\:nysds-text-32 {
    font-size: 32px;
}

.lg\:nysds-text-28 {
    font-size: 28px;
}

.lg\:nysds-text-22 {
    font-size: 22px;
}

.lg\:nysds-text-18 {
    font-size: 18px;
}

.lg\:nysds-min-h-512 {
    min-height: 512px;
}

.lg\:nysds-min-h-300 {
    min-height: 300px;
}

.lg\:nysds-min-h-256 {
    min-height: 256px;
}

.lg\:nysds-w-360 {
    width:360px;
}

.lg\:nysds-line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lg\:nysds-line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lg\:nysds-line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

.lg\:nysds-line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

}