.nysds-callout {
    display: flex;
    align-items: center;
    border: 2px solid #457AA5;
    border-radius: 30px;
    margin: 30px 0;
    padding: 15px;
}

.nysds-callout-icon {
    display: none;

}

.nysds-callout-icon svg {
    height: 40px;
    filter: invert(18%) sepia(15%) saturate(7500%) hue-rotate(187deg) brightness(97%) contrast(84%);
}

.nysds-callout-title {
    color: #457AA5;
    font-size: 24px !important;
    margin: 10px;
    display: flex;
}

.nysds-callout-list {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    gap: 0 20px;
    padding-bottom: 10px !important;
}







/* tablet */
@media (min-width: 768px) {
  
    .nysds-callout-icon {
        display: flex;
        justify-content: flex-start;
        margin: -5px 15px 0 5px;
    }

    .nysds-callout-list {
     
        grid-template-columns: 1fr 1fr;
        
    }

}






/* desktop */
@media (min-width: 1280px) {


}