---
layout: nygov.njk
title: NYS Digital Service Avatar Bio
url: nysds.dev/table-checklist
domain: nysds.dev

---
{% from './_includes/_components.njk' import avatar %}
<style>{% include './_includes/avatar/_avatar.css'  %}</style>



<div class="t-section__content">
    <div class="o-embedded-code">
        <div class="o-embedded-code__content-wrapper">
            <div class="o-embedded-code__content">
                {{
                    avatar({
                        color:"",
                        name:"Jeffrey H.S. Knaack",
                        img:"/img/knaack.jpg",
                        title:"Director of Digital Solutions",
                        alt:"image of jeff knaack wearing a hat that says a11y ",
                        bio:"I enjoy taking apart tech problems and reassembling the parts into functional stuff that real humans can use. I'm a strong advocate of usable and accessible design first and fancy complex frameworks last. I believe that the web should be open and inclusive and promote the free and fair sharing of information. "
                    })
                }}
            </div>
        </div>
    </div>
</div>

<div class="t-section__content">
    <div class="o-embedded-code">
        <div class="o-embedded-code__content-wrapper">
            <div class="o-embedded-code__content">
                {{
                    avatar({
                        color:"blue",
                        name:"Jeffrey H.S. Knaack",
                        img:"/img/knaack.jpg",
                        title:"Director of Digital Solutions",
                        alt:"image of jeff knaack wearing a hat that says a11y ",
                        bio:"I enjoy taking apart tech problems and reassembling the parts into functional stuff that real humans can use. I'm a strong advocate of usable and accessible design first and fancy complex frameworks last. I believe that the web should be open and inclusive and promote the free and fair sharing of information. "
                    })
                }}
            </div>
        </div>
    </div>
</div>
