---
layout: nygov.njk
title: NYS Digital Service Avatar Bio
url: nysds.dev/table-checklist
domain: nysds.dev

---
{% from './_includes/_components.njk' import avatar %}
<style>{% include './_includes/avatar/_avatar.css'  %}</style>


{{
    avatar({
        color:"",
        name:"Jessica Houle",
        img:"https://www.ny.gov/sites/default/files/2025-02/houle.jpg",
        title:"Digital Service Director",
        alt:"image of Jessica Houle standing at the empire state plaza ",
        bio:"Bio paragraph here "
    })
}}



{{
    avatar({
        color:"blue",
        name:"Tina Levin",
        img:"https://www.ny.gov/sites/default/files/2025-02/levin.jpg",
        title:"Director of Content",
        alt:"image of tina levin standing at the empire state plaza ",
        bio:"Bio paragraph here "
    })
}}



{{
    avatar({
        color:"",
        name:"Maggie Fuller",
        img:"https://www.ny.gov/sites/default/files/2025-02/fuller.jpg",
        title:"Director of Digital Measurement & Operations ",
        alt:"image of maggie fuller ",
        bio:"Bio paragraph here "
    })
}}



{{
    avatar({
        color:"blue",
        name:"Jeffrey H.S. Knaack",
        img:"https://www.ny.gov/sites/default/files/2025-02/knaack.jpg",
        title:"Director of Digital Solutions & Accessibility Engineering",
        alt:"image of jeff knaack wearing a hat that says a11y ",
        bio:"
        I enjoy taking apart tech problems and reassembling the parts into functional stuff that real humans can use. I'm a strong advocate of usable and accessible design first and fancy complex frameworks last. I believe that the web should be open and inclusive and promote the free and fair sharing of information. I am still fascinated by HTML and that people can just <em> make </em> websites. I'm passionate about digital accessibility and making positive change in the world through technology.
        
        "
    })
}}



{{
    avatar({
        color:"",
        name:"Matt Twardy",
        img:"https://www.ny.gov/sites/default/files/2025-02/twardy.jpg",
        title:"Director of Data ",
        alt:"image of matt twardy in a recording studio ",
        bio:"Bio paragraph here "
    })
}}
