---
layout: nygov.njk
title: NYS Digital Service Avatar Bio
url: nysds.dev/table-checklist
domain: nysds.dev

---
{% from './_includes/_components.njk' import avatar %}
<style>{% include './_includes/avatar/_avatar.css'  %}</style>


<div class="t-section__content">
    <div class="o-embedded-code">
        <div class="o-embedded-code__content-wrapper">
            <div class="o-embedded-code__content">
                {{
                    avatar({
                        color:"",
                        name:"Jessica Houle",
                        img:"/img/houle.jpg",
                        title:"Digital Service Director",
                        alt:"image of Jessica Houle standing at the empire state plaza ",
                        bio:"Bio paragraph here "
                    })
                }}
            </div>
        </div>
    </div>
</div>

<div class="t-section__content">
    <div class="o-embedded-code">
        <div class="o-embedded-code__content-wrapper">
            <div class="o-embedded-code__content">
                {{
                    avatar({
                        color:"blue",
                        name:"Tina Levin",
                        img:"/img/levin.jpg",
                        title:"Director of Content",
                        alt:"image of tina levin standing at the empire state plaza ",
                        bio:"Bio paragraph here "
                    })
                }}
            </div>
        </div>
    </div>
</div>

<div class="t-section__content">
    <div class="o-embedded-code">
        <div class="o-embedded-code__content-wrapper">
            <div class="o-embedded-code__content">
                {{
                    avatar({
                        color:"",
                        name:"Maggie Fuller",
                        img:"/img/fuller.jpg",
                        title:"Director of Digital Measurement & Operations ",
                        alt:"image of maggie fuller ",
                        bio:"Bio paragraph here "
                    })
                }}
            </div>
        </div>
    </div>
</div>

<div class="t-section__content">
    <div class="o-embedded-code">
        <div class="o-embedded-code__content-wrapper">
            <div class="o-embedded-code__content">
                {{
                    avatar({
                        color:"blue",
                        name:"Jeffrey H.S. Knaack",
                        img:"/img/knaack.jpg",
                        title:"Director of Digital Solutions & Accessibility Engineering",
                        alt:"image of jeff knaack wearing a hat that says a11y ",
                        bio:"
                        I enjoy taking apart tech problems and reassembling the parts into functional stuff that real humans can use. I'm a strong advocate of usable and accessible design first and fancy complex frameworks last. I believe that the web should be open and inclusive and promote the free and fair sharing of information. I am still fascinated by HTML and that people can just <em> make </em> websites. I'm passionate about digital accessibility and making positive change in the world through technology.
                        
                        "
                    })
                }}
            </div>
        </div>
    </div>
</div>


<div class="t-section__content">
    <div class="o-embedded-code">
        <div class="o-embedded-code__content-wrapper">
            <div class="o-embedded-code__content">
                {{
                    avatar({
                        color:"",
                        name:"Matt Twardy",
                        img:"/img/twardy.jpg",
                        title:"Director of Data ",
                        alt:"image of matt twardy in a recording studio ",
                        bio:"Bio paragraph here "
                    })
                }}
            </div>
        </div>
    </div>
</div>