---
layout: render.njk
title: NYSDS Feedback Component
---
<style>
{% include './css/feedback.css' %}
</style>

<section class="nysds-feedback">
    <h3 class="nysds-feedback-heading" id="nysds-feedback-helpful">Did you find this page helpful?</h3>
    <div class="nysds-feedback-options" id="nysds-feedback-options-area">
        <a  href="https://forms.ny.gov/s3/Customer-Experience-Survey" 
            class="nysds-feedback-link" 
            data-feedback="yes"
            aria-label="Yes this page was helpful"
            target="_blank"
            >
            <span class="nysds-feedback-thumbs" aria-hidden="true"></span>
            Yes
        </a>
        <a  href="https://forms.ny.gov/s3/Customer-Experience-Survey" 
            class="nysds-feedback-link" 
            data-feedback="no"
            aria-label="No this page was not helpful"
            target="_blank"
            >
            <span class="nysds-feedback-thumbs nysds-feedback-transform" aria-hidden="true"></span>
            No
        </a>
    </div>
</section>

<script>
{% include './js/feedback.js' %}
</script>