---
layout: nygov.njk
title: NY.gov Services Search
---
{% from './_includes/_components.njk' import findServices  %}
<style>{% include './_includes/findServices/_findServices.css'  %}</style>


{{
    findServices({
        heading:"Service Finder Tool",
        description:"Use the services finder tool to answer a few questions and get a customized list of potential services that you may be eligible for.",
        backgroundColor:"pale-blue",
        image:"https://www.ny.gov/sites/default/files/2025-01/ServiceFinderTool_Image_02.jpg",
        imageAlt:"pregnant woman standing looking at a laptop computer",
        links: [
            {
            text:"Use the Service <br> Finder Tool",
            link:"https://forms.ny.gov/s3/Your-Services",
            color:"primary-blue",
            linkStyle:"button",
            dataAttribute:"find-services-application"
            },
            {
            text:"View All Services",
            link:"/all-services",
            linkStyle:"arrow",
            color:"primary-light-blue",
            dataAttribute:"view-all-services-filter"
            }
        ]
    })
}}    
<script> {% include './_includes/findServices/_findServices.js'  %}</script> 