---
layout: nygov.njk
title: NY.gov Services Search
---
{% from './_includes/_components.njk' import findServices  %}
<style>{% include './_includes/findServices/_findServices.css'  %}</style>


{{
    findServices({
        heading:"Search New York State Services",
        description:"Explore the services offered by the State of New York.",
        searchBackground:"gray",
        backgroundColor:"pale-blue",
        color: "black",
        variant:"imageHero",
        images:"https://www.ny.gov/sites/default/files/2022-04/Mom-daughter-laptop_1280.jpg",
        links: [
            {
            text:"first button",
            link:"https://budget.ny.gov",
            color:"primary-blue"
            },
            {
            text:"second button",
            link:"https://budget.ny.gov",
            color:"primary-light-blue"
            }
        ]
    })
}}    
<script> {% include './_includes/findServices/_findServices.js'  %}</script>