---
layout: render-layout.njk
title: NYSDS Gov Footer example
url: nysds.dev/governor-cta-footer
domain: nysds.dev
facebook:
    title:  NYSDS Gov Footer example
    description: NYSDS Gov Footer example
    image: nygov-logo.png
twitter:
    title: NYSDS Gov Footer example
    description: NYSDS Gov Footer example
    image: nygov-logo.png
---
<style>
{% include './css/gov-footer.css' %}
</style>

<div style="height:68px"> Key differences here are that the link for the logo has a focus and hover of #FACE00 because it needs some visual identifier, things are more centered at mobile and responsive below tablet, and any general width constraints are gone (Ex. no 1160px container issue).</div>
<p style="text-align: center; margin: 22px;"> governor unav footer with cta </p>






<footer>
    <div class="nygov-footer">

        <div class="nygov-logo-container">
            <a class="nygov-footer-logo" href="#"><span class="sr-only">Homepage</span> </a>
        </div>

        <div class="nygov-footer-link-and-cta">

            <div class="nygov-footer-links">
                <ul class="nygov-footer-link-list">
                    <li>
                        <a href="https://www.ny.gov/agencies" data-once="nygovExitModal">Agencies</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/mobileapps" data-once="nygovExitModal">App Directory</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/counties" data-once="nygovExitModal">Counties</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/events" data-once="nygovExitModal">Events</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/programs" data-once="nygovExitModal">Programs</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/services" data-once="nygovExitModal">Services</a>
                    </li>
                </ul>
            </div>

            <div class="nygov-footer-cta">
                <a class="nygov-footer-cta-link" href="#"> Register to Vote </a>
                <div class="nygov-cta-text">
                    <p> Sign up online or download and mail in your application </p>
                </div>
            </div>

        </div>

    </div>
</footer>



<div style="height:68px"> </div>

<footer>
    <div class="nygov-footer">

        <div class="nygov-logo-container">
            <a class="nygov-footer-logo" href="#"><span class="sr-only">Homepage</span> </a>
        </div>

        <div class="nygov-footer-link-and-cta">

            <div class="nygov-footer-links">
                <ul class="nygov-footer-link-list">
                    <li>
                        <a href="https://www.ny.gov/agencies" data-once="nygovExitModal">Agencies</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/mobileapps" data-once="nygovExitModal">App Directory</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/counties" data-once="nygovExitModal">Counties</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/events" data-once="nygovExitModal">Events</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/programs" data-once="nygovExitModal">Programs</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/services" data-once="nygovExitModal">Services</a>
                    </li>
                </ul>
            </div>

            <div class="nygov-footer-cta">
                <a class="nygov-footer-cta-link" href="#"> Find COVID-19 Testing</a>
                <div class="nygov-cta-text">
                    <p> Go to our easy testing center finder app and I just need some longer text here to show what it would look like. </p>
                </div>
            </div>

        </div>

    </div>
</footer>


<div style="height:80px">  </div>
<p style="text-align: center; margin: 22px;"> governor unav footer NO cta </p>

<footer>
    <div class="nygov-footer">

        <div class="nygov-logo-container">
            <a class="nygov-footer-logo" href="#"><span class="sr-only">Homepage</span> </a>
        </div>

         <div class="nygov-footer-link-and-cta">
            
            <div class="nygov-footer-links">
                <ul class="nygov-footer-link-list">
                    <li>
                        <a href="https://www.ny.gov/agencies" data-once="nygovExitModal">Agencies</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/mobileapps" data-once="nygovExitModal">App Directory</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/counties" data-once="nygovExitModal">Counties</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/events" data-once="nygovExitModal">Events</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/programs" data-once="nygovExitModal">Programs</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/services" data-once="nygovExitModal">Services</a>
                    </li>
                </ul>
            </div>

        </div>
        
    </div>
</footer>

