---
layout: layout.njk
title: Nation Builder API signup form test
url: nysds.dev/nb-api
domain: nysds.dev
facebook:
    title:  Nation Builder API signup form test
    description: test page not for sharing
    image: nygov-logo.png
twitter:
    title: Nation Builder API signup form test
    description:  test page not for sharing
    image: nygov-logo.png
---
<div class="flex justify-center my-20">
<form class="flex flex-col md:w-1/2"  method="POST" id="myForm">
<input class="border border-black" id="signup_first_name" name="signup[first_name]" type="text" /><label for="signup_first_name">First Name</label>
<input class="border border-black" id="signup_last_name" name="signup[last_name]" type="text" /><label for="signup_last_name">Last Name</label>
<input class="border border-black" id="signup_email" name="signup[email]" type="email" /><label for="signup_email">Email</label>
<input class="border border-blue-800 bg-blue-200 font-bold md:w-1/2 mx-auto" type="submit" name="commit" value="Signup" />
  </form>
  </div>

<script>
var form = document.getElementById('myForm');
form.onsubmit = function(event){
        var xhr = new XMLHttpRequest();
        var formData = new FormData(form);
        //open the request
        xhr.open('POST','https://nygov.nationbuilder.com/api/v1/people?access_token=azP0t1zPMW05R0BCEm-cXo3ZL07lXTjzdVC0XtwYRck')
        xhr.setRequestHeader("Content-Type", "application/json")
        ;

        //send the form data
        xhr.send(JSON.stringify(Object.fromEntries(formData)));

        xhr.onreadystatechange = function() {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                form.reset(); //reset form after AJAX success or do something else
            }
        }
        //Fail the onsubmit to avoid page refresh.
        return false; 
    }

    </script>
