---
layout: nygov.njk
title: NY.gov CX Pillars
url: nysds.dev/table-checklist
domain: nysds.dev

---
{% from './_includes/_components.njk' import pillars  %}
<style>{% include './_includes/pillars/_pillars.css'  %}</style>



  

<article class="node node--type-landing-page node--promoted node--view-mode-full">
<article class="p-landing-page -full-page ">
<div class="t-section -container">
<div class="t-section__content ">
    <div class="o-wysiwyg  landing_page -special  -firstWysiwyg">
        <div class="a-text__html " >

{{
    pillars({
        type:"",
        pillarCards:[
            {
                icon:"",
                title:"Innovative Solutions",
                link:"",
                checklist:[
                    {
                        text:"Drive innovation and continuous improvement"
                    },
                    {
                        text:"Improve service efficiency and effectiveness"
                    }
                ]
            },
            {
                icon:"",
                title:"Customer Centric Design",
                link:"",
                checklist:[
                    {
                        text:"Personalize and humanize government interactions"
                    },
                    {
                        text:"Increase trust and transparency "
                    }
                
                ]
            },
            {
                icon:"",
                title:"Commitment to Excellence",
                link:"",
                checklist:[
                    {
                        text:"Build a culture of service excellence"
                    },
                    {
                        text:"Ensure equity and inclusivity"
                    }
                ]
            }

        ]
    })
}}


</div>
</div>
</div>
</div>
</article>
</article>