---
layout: layout.njk
title: NY.gov CX Pillars
url: nysds.dev/table-checklist
domain: nysds.dev

---
{% from './_includes/_components.njk' import pillars  %}
<style>{% include './_includes/pillars/_pillars.css'  %}</style>


{{
    pillars({
        type:"",
        pillarCards:[
            {
                icon:"",
                title:"Innovative Solutions",
                checklist:[
                    {
                        text:"Drive innovation and continous improvement"
                    },
                    {
                        text:"Improve service efficiency and effectiveness"
                    }
                ]
            },
            {
                icon:"",
                title:"Customer Centric Design",
                checklist:[
                    {
                        text:"Drive innovation and continous improvement"
                    },
                    {
                        text:"Improve service efficiency and effectiveness"
                    }
                ]
            },
            {
                icon:"",
                title:"Commitment to Excellence",
                checklist:[
                    {
                        text:"Drive innovation and continous improvement"
                    },
                    {
                        text:"Improve service efficiency and effectiveness"
                    }
                ]
            }

        ]
    })
}}