---
layout: nygov.njk
title: NY.gov Services Search
---
{% from './_includes/_components.njk' import searchHero  %}
<style>{% include './_includes/searchHero/_searchHero.css'  %}</style>

{# 
    background: gold, gray, blue 
    color: white, black
#}
{{
    searchHero({
        heading:"Search New York State Services",
        description:"Explore the services offered by the State of New York.",
        searchBackground:"gray",
        background:"blue",
        color: "black",
        variant:"colorHero"
    })
}}    
<script> {% include './_includes/searchHero/_searchHero.js'  %}</script>