---
layout: layout.njk
title: Social Deep Linking
url: nysds.dev/social-deeplink
domain: nysds.dev
---

<h2> detect links </h2>
{# <ul>
    <li><a class="hover:underline text-blue-700" href="https://www.facebook.com/govkathyhochul" data-ios="fb://www.facebook.com/govkathyhochul" data-android="">Facebook</a></li>
    <li><a class="hover:underline text-blue-700" href="https://www.instagram.com/govkathyhochul/" data-ios="" data-android="">Instagram</a></li>
    <li><a class="hover:underline text-blue-700" href="https://www.youtube.com/channel/UCQJp4eSJgbFroNySGthEiqA" data-ios="" data-android="">Youtube</a></li>
</ul> #}

<h2 class="mt-4"> mobile deeplinks </h2>
<ul>
    <li><a class="hover:underline text-blue-700" href="fb://profile/?id=100044179581914" data-ios="" data-android="">Facebook</a></li>

    <li><a class="hover:underline text-blue-700" href="fb://profile/100044179581914" data-ios="" data-android="">Facebook alternate</a></li>
    <li><a class="hover:underline text-blue-700" href="instagram://user?username=govkathyhochul" data-ios="" data-android="">Instagram</a></li>
    <li><a class="hover:underline text-blue-700" href="youtube://channel/GovernorKathyHochul" data-ios="" data-android="">Youtube</a></li>
    <li><a class="hover:underline text-blue-700" href="twitter://user?screen_name=GovKathyHochul" data-ios="" data-android="">twitter</a></li>
</ul>

<button onclick="isMobile()"> check mobile </button>

<script>
function isMobile() {
  console.log (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
  console.log(navigator.userAgent)
}
</script>