---
layout: layout.njk
title: Social Deep Linking
url: nysds.dev/social-deeplink
domain: nysds.dev
---

<h2> detect links </h2>
<style>
  .nysds-detect-link {
    text-decoration: underline;
    color: blue;
  }
  </style>

<h2 class="mt-4"> ios mobile deeplinks</h2>
<ul>
    <li><a class="nysds-detect-link" href="fb://profile/100044179581914" data-ios="" data-android="">Facebook</a></li>
    <li><a class="nysds-detect-link" href="instagram://user?username=govkathyhochul" data-ios="" data-android="">Instagram</a></li>
    <li><a class="nysds-detect-link" href="vnd.youtube://www.youtube.com/GovernorKathyHochul" data-ios="" data-android="">Youtube</a></li>
    <li><a class="nysds-detect-link" href="twitter://user?screen_name=GovKathyHochul" data-ios="" data-android="">twitter/X</a></li>
</ul>


<h2 class="mt-4"> android mobile deeplinks</h2>
<ul>
    <li><a class="nysds-detect-link" href="intent://profile/100044179581914#Intent;package=com.facebook.katana;scheme=fb;end" data-ios="" data-android="">Facebook</a></li>
    <li><a class="nysds-detect-link" href="intent://www.instagram.com/govkathyhochul/#Intent;package=com.instagram.android;scheme=https;end" data-ios="" data-android="">Instagram</a></li>
    <li><a class="nysds-detect-link" href="intent://www.youtube.com/GovernorKathyHochul#Intent;package=com.google.android.youtube;scheme=https;end" data-ios="" data-android="">Youtube</a></li>
    <li><a class="nysds-detect-link" href="intent://twitter.com/GovKathyHochul#Intent;package=com.twitter.android;scheme=https;end" data-ios="" data-android="">twitter/X</a></li>
</ul>


{# <h2 class="mt-4"> detect device and route deeplinks</h2>
<ul>
    <li><a class="nysds-detect-link" href="fb://profile/100044179581914" data-ios="" data-android="">Facebook</a></li>
    <li><a class="nysds-detect-link" href="instagram://user?username=govkathyhochul" data-ios="" data-android="">Instagram</a></li>
    <li><a class="nysds-detect-link" href="vnd.youtube://www.youtube.com/GovernorKathyHochul" data-ios="" data-android="">Youtube</a></li>
    <li><a class="nysds-detect-link" href="twitter://user?screen_name=GovKathyHochul" data-ios="" data-android="">twitter/X</a></li>
</ul> #}




<button onclick="isMobile()"> check mobile </button>
{# 
<script>
function isMobile() {
  console.log (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
  console.log(navigator.userAgent)
}

const socialLink = document.getElementsByClassName('nysds-detect-link')

document.
try {
  nonExistentFunction();
} catch (error) {
  console.error(error);
  // Expected output: ReferenceError: nonExistentFunction is not defined
  // (Note: the exact output may be browser-dependent)
}
</script> #}