---
layout: layout.njk
title: NYSDS Tableau Test
url: nysds.dev/tableau
domain: nysds.dev
facebook:
    title:   NYSDS Tableau Test
    description: Check for mobile responsive embed
    image: nygov-logo.png
twitter:
    title:  NYSDS Tableau Test
    description: Check for mobile responsive embed
    image: nygov-logo.png
---
{% from './_includes/_components.njk' import hero,categorytiles,card,bio,textarea,highlight,iconframe,quicklinks,sponsor  %}


<script type='module' src='https://mypublicdashboard.ny.gov/javascripts/api/tableau.embedding.3.latest.min.js'></script><tableau-viz id='tableau-viz' src='https://mypublicdashboard.ny.gov/t/OASASpublic/views/HarmReductionSupplyDistribution/Landing' width='1000' height='926' toolbar='bottom' ></tableau-viz>



<script type='module' src='https://mypublicdashboard.ny.gov/javascripts/api/tableau.embedding.3.latest.min.js'></script><tableau-viz height="1080px" id="tableau-viz" src="https://mypublicdashboard.ny.gov/t/OASASpublic/views/NYDrugOverdoseDeaths/NYDeathsbyDrugType" toolbar="bottom" width="1920px"></tableau-viz>
<p>&nbsp;</p>