---
layout: layout.njk
title: OGS Translated document list
url: nysds.dev/translated-list
domain: nysds.dev
---

<div class="">

حقوق المساعدة اللغوية المقدمة لك 

আপনার ভাষা অ্যাক্সেসের অধিকার

Your Language Access Rights

Vos droits en matière d’accès linguistique

Dwa W pou Gen Aksè ak Lang

Diritti di accesso linguistico

언어 접근성에 관한 권리

Twoje prawa do usług językowych

Ваши права в отношении языкового доступа

语言普及服务权

Sus derechos de acceso lingüístico

語言普及服務權

لسانی رسائی کے آپ کے حقوق

אייער שפראך צוטריט רעכטן


</div>



<div class="">


<p><span translate="no"><a href="/your-language-access-rights-new-york-state-arabic-brochure" title="Your Language Access Rights in New York State - Arabic"><span dir="rtl" lang="ar">حقوق المساعدة اللغوية المقدمة لك </span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-bengali-brochure" title="Your Language Access Rights in New York State Bengali"><span><span><span><span lang="BN">আপনার ভাষা অ্যাক্সেসের অধিকার</span></span></span></span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-english-brochure">Your Language Access Rights</a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-french-brochure" title="Your Language Access Rights in New York State French"><span dir="ltr" lang="fr">Vos droits en matière d’accès linguistique</span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-haitian-creole-brochure" title="Your Language Access Rights in New York State Haitian Creole"><span dir="ltr" lang="ht">Dwa W pou Gen Aksè ak Lang</span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-italian-brochure"><span dir="ltr" lang="it">Diritti di accesso linguistico</span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-korean-brochure"><span><span><span><span lang="KO">언어</span> <span lang="KO">접근성에</span> <span lang="KO">관한</span> <span lang="KO">권리</span></span></span></span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-polish-brochure"><span dir="ltr" lang="pl">Twoje prawa do usług językowych</span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-russian-brochure"><span dir="ltr" lang="ru">Ваши права в отношении языкового доступа</span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-simplified-chinese-brochure"><span dir="ltr" lang="zh-hans">语言普及服务权</span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-spanish-brochure"><span><span><span>Sus derechos de acceso lingüístico</span></span></span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-traditional-chinese-brochure"><span dir="ltr" lang="zh-hant">語言普及服務權</span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-urdu-brochure"><span dir="rtl" lang="ur">لسانی رسائی کے آپ کے حقوق</span></a></span></p>

<p><span translate="no"><a href="/your-language-access-rights-new-york-state-yiddish-brochure"><span><span><span><span><span><span lang="HE">אייער שפראך צוטריט רעכטן</span></span></span></span></span></span></a></span></p>



</div>
