<article class="flex flex-col -mx-8 md:-mx-20 my-14">
<div class="bg-ny-light w-full ">
<div class="h-96 relative w-96 ml-12">
<img class="object-cover absolute w-full h-full" src="/img/office.jpg" alt="" />
</div>
<section class="">
<h3 class="text-xl"></h3>
<p class=""></p>
<a class="" href=""></a>
</section>
</div>
</article>