{%if params.direction === 'right' %} <!-- right image -->
<article class="-mx-8 md:-mx-20 my-14 ">
{% if params.frametitle %}<h2 class="nysds-text-36 font-extrabold text-black text-center mb-4 w-full">{{params.frametitle}}</h2>{%else%}{%endif%}<!-- optional frame title -->
<div class="bg-ny-light w-full flex  flex-wrap-reverse lg:flex-row lg:px-12">
<section class="flex flex-col px-12 justify-center w-full lg:w-2/3">
<h3 class="nysds-text-32 font-bold my-4 text-black">{{params.title}}</h3>
<p class="mb-4 !text-black">{{params.content}}</p>
{% if params.attribute%}<span class="flex text-sm italic justify-end mt-2 !text-black md:mb-0 mb-8"> - {{params.attribute}} </span>{%else%}{%endif%}
{%if params.link %}<a class="bg-admin-first !text-white visited:!text-white uppercase !no-underline hover:bg-black hover:!underline focus:bg-black focus:!underline mb-8 p-4 rounded-xl  font-bold text-center m-auto lg:m-0 w-1/2 md:w-1/3 lg:w-1/4" href="{{params.link}}" {% if params.arialabel %} aria-label="{{params.arialabel}}" {%endif%}>{{params.linktext}}</a>{%else%}{%endif%}
</section>
<section class="w-full flex justify-center lg:w-1/3">
<img class="object-cover h-96" src="{{params.image}}" alt="{{params.imagealt}}" />
</section>
</div>
</article>

{% else %} <!-- left image -->

<article class="-mx-8 md:-mx-20 my-14 ">
{% if params.frametitle %}<h2 class="nysds-text-36 font-extrabold text-black text-center mb-4 w-full">{{params.frametitle}}</h2>{%else%}{%endif%}<!-- optional frame title -->
<div class="bg-ny-light w-full flex flex-col  lg:flex-row lg:px-12">
<section class="w-full flex justify-center lg:w-1/3">
<img class="object-cover h-96 " src="{{params.image}}" alt="{{params.imagealt}}" />
</section>
<section class="flex flex-col px-12 justify-center w-full lg:w-2/3 lg:pl-12 ">
<h3 class="nysds-text-32 font-bold my-4 text-black">{{params.title}}</h3>
<p class="mb-4 !text-black">{{params.content}}</p>
{% if params.attribute%}<span class="flex text-sm italic justify-end mt-2 !text-black md:mb-0 mb-8"> - {{params.attribute}} </span>{%else%}{%endif%}
{%if params.link %}<a class="bg-admin-first !text-white visited:!text-white uppercase !no-underline hover:bg-black hover:!underline focus:bg-black focus:!underline mb-8 p-4 rounded-xl  font-bold text-center m-auto lg:m-0 w-1/2 md:w-1/3 lg:w-1/4" href="{{params.link}}" {% if params.arialabel %} aria-label="{{params.arialabel}}" {%endif%}>{{params.linktext}}</a>{%else%}{%endif%}
</section>
</div>
</article>
{% endif %}