<section class="flex flex-col items-center -mx-8 md:-mx-20 my-14">
<h2 class="nysds-text-36 font-extrabold text-center text-black mb-4 w-full">{{params.frametitle}}</h2>
<div class="flex flex-col md:flex-row max-w-7xl w-full flex-wrap items-center md:items-start ">

{% if params.colleft %}
<div class="w-full md:w-1/2">
{% for link in params.colleft %}
<article class="h-28 bg-ny-light rounded-3xl border-ny-mid  border-1 border flex flex-row md:mx-2 mx-6 my-3">
<div >
<a href="{{card.link}}" tabindex="-1" aria-hidden="true">
<img class="w-28  h-28 rounded-3xl object-cover" src="{{link.image}}" alt="{{link.imagealt}}" />
</a>
</div>
<section class="flex flex-col w-2/3 mx-6">
<h3 class="font-bold text-xl mt-3">
<a class="hover:!underline focus:!underline !no-underline !text-ny-links visited:!text-ny-links " href="{{link.link}}">{{link.title}}</a>
</h3>
<p class="!text-black xs:nysds-line-clamp-1 nysds-line-clamp-2 md:nysds-line-clamp-1 lg:nysds-line-clamp-2">{{link.content}}</p>
</section>
</article>
{% endfor %}
{% if params.ctaleft %}
{% for left in params.ctaleft %}
<div class=" w-full flex justify-center md:justify-end">
    <a href="{{left.link}}" class="border border-black bg-white hover:bg-black hover:!underline focus:bg-black focus:!text-white focus:!underline !no-underline my-4 mx-2 p-4 rounded-xl !text-black visited:!text-black hover:!text-white font-bold text-center  w-2/3 md:w-1/2">{{left.title}}</a>
</div>
{% endfor %}
{% else %}{% endif %}
</div>
{% else %}
{% endif %}

{% if params.colright %}
<div class="w-full md:w-1/2 -mt-3 md:-mt-0">
{% for link in params.colright %}
<article class="h-28 bg-ny-light rounded-3xl border-ny-mid  border-1 border flex flex-row md:mx-2 mx-6 my-3">
<div >
<a href="{{card.link}}" tabindex="-1" aria-hidden="true">
<img class="w-28  h-28 rounded-3xl object-cover" src="{{link.image}}" alt="{{link.imagealt}}" />
</a>
</div>
<section class="flex flex-col w-2/3 mx-6">
<h3 class="font-bold text-xl mt-3">
<a class="hover:!underline focus:!underline !no-underline !text-ny-links visited:!text-ny-links" href="{{link.link}}">{{link.title}}</a>
</h3>
<p class=" !text-black xs:nysds-line-clamp-1 nysds-line-clamp-2 md:nysds-line-clamp-1 lg:nysds-line-clamp-2">{{link.content}}</p>
</section>
</article>
{% endfor %}
{% if params.ctaright %}
{% for right in params.ctaright %}
<div class=" w-full flex justify-center md:justify-end">
    <a href="{{right.link}}" class="border border-black bg-white hover:bg-black hover:!underline focus:bg-black focus:!text-white focus:!underline !no-underline my-4 mx-2 p-4 rounded-xl !text-black visited:!text-black hover:!text-white font-bold text-center  w-2/3 md:w-1/2">{{right.title}}</a>
</div>
{% endfor %}
{% else %}{% endif %}
</div>
{% else %}
{% endif %}

</div>
</section>