// fallbacks for IE and I can't believe I have to do this in 2022 srsly
.bg-admin-first {
    background-color: #ac3f14;
}

.bg-admin-second {
    background-color: #cf7954;
}

.bg-admin-third {
    background-color: #f3d3c1;
}