// text modifiers

.nysds-text-36 {
    font-size: 36px;
}

.nysds-text-32 {
    font-size: 32px;
}

.nysds-text-28 {
    font-size: 28px;
}

.nysds-text-22 {
    font-size: 22px;
}

.nysds-text-18 {
    font-size: 18px;
}


// layout modifiers 
.nysds-m-30 {
    margin: 30px;
}

.nysds-mx-30 {
    margin: 0px 30px;
}

.nysds-my-30 {
    margin: 30px 0px;
}

.nysds-min-h-512 {
    min-height: 512px;
}

.nysds-min-h-300 {
    min-height: 300px;
}

.nysds-min-h-256 {
    min-height: 256px;
}

// responsive not needed
.oswald {
    font-family: Oswald, Arial, sans-serif;
    }

.dsari {
    font-family: D Sari Bold, Arial, sans-serif;
}
