// text modifiers
.nysds-text-36 {
    font-size: 36px;
}

.nysds-text-32 {
    font-size: 32px;
}

.nysds-text-28 {
    font-size: 28px;
}

.nysds-text-22 {
    font-size: 22px;
}

.nysds-text-18 {
    font-size: 18px;
}

.nysds-line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.nysds-line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.nysds-line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

.nysds-line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// layout modifiers 

.nysds-min-h-512 {
    min-height: 512px;
}

.nysds-min-h-300 {
    min-height: 300px;
}

.nysds-min-h-256 {
    min-height: 256px;
}

.nysds-w-360 {
    width:360px;
}

.nysds-h-240 {
    height: 240px;
}

// stuff tailwind doesn't have easily
.hover\:nysds-border-b-3:hover {
    border-bottom-width: 3px;
}

.focus\:nysds-border-b-3:focus {
    border-bottom-width: 3px;
}

// regular scss where it's easier for formatting 
.nysds-textarea {
    color: #000;

    a:not(.nysds-exclude) {
      text-decoration: underline;
      color: #007AC2;
  
      &:hover {
        color:#154973;
      }
  
      &:focus {
        color:#154973;
      }

      &:visited {
        color: #007AC2;
      }
    }

    ul {
        margin-left: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    h3  {
        font-size: 32px;
        font-weight: bold;
    }

    h4 {
        font-size: 28px;
        font-weight: bold;
    }

    h5 {
        font-size: 22px;
        font-weight: bold;
    }
  }

.nysds-youtube-video {
    position: relative;
    overflow: hidden;
    width: 100%;

    &::after {
        display: block;
        content: "";
        padding-top: 56.25%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.nysds-highlight-gray {
    background-color: #ededed;

    a {
        color: black;
        border-color: black;

        &:hover {
            color: white;
            background-color: rgba(0,0,0,0.5);
        }

        &:focus {
            color: white;
            background-color: rgba(0,0,0,0.5);
        }
    }

    h2 {
        color: black;
    }
}

.nysds-highlight-orange {
    background-color: #cf7954;

    a {
        color: black;
        border-color: black;

        &:hover {
            color: white;
            background-color: rgba(0,0,0,0.5);
        }

        &:focus {
            color:white;
            background-color: rgba(0,0,0,0.5);
        }
    }

    h2 {
        color: white;
    }
}

// icons
.icon-long-arrow-right::before {
    content: "\F30B" !important;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
  }

.nysds-quotation-marks::before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    color: #cf7954;
    opacity: 0.3;
    content: "\201C";
    font-size: 8em;
    line-height: 0.1em;
    margin-left: -0.2em;
    position: relative;
    top: 40px;
}  

.nysds-menu-icon::before {
    content: "\f0c9" !important;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    color: #fff;
    font-size: 1.25rem;
}

.nysds-play-button {

    &:focus {
        outline: 2px solid #FACE00
    }

    &::before{
    content: "\f04b" !important;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    font-size: 1.5em;
    }
}


  

// fonts
.oswald {
    font-family: Oswald, Arial, sans-serif;
    }

.dsari {
    font-family: D Sari Bold, Arial, sans-serif;
}