{% macro button(params) %}
  {%- include "./button/_template.njk" -%}
{% endmacro %}
{% macro bio(params) %}
  {%- include "./bio/_template.njk" -%}
{% endmacro %}
{% macro card(params) %}
  {%- include "./card/_template.njk" -%}
{% endmacro %}
{% macro hero(params) %}
  {%- include "./hero/_template.njk" -%}
{% endmacro %}
{% macro nav(params) %}
  {%- include "./gnavigation/_template.njk" -%}
{% endmacro %}
{% macro footer(params) %}
  {%- include "./gfooter/_template.njk" -%}
{% endmacro %}
{% macro unav(params) %}
  {%- include "./unav/_template.njk" -%}
{% endmacro %}
{% macro unavcurrent(params) %}
  {%- include "./unavcurrent/_template.njk" -%}
{% endmacro %}
{% macro unavcurrentfooter(params) %}
  {%- include "./unavcurrentfooter/_template.njk" -%}
{% endmacro %}
{% macro breadcrumbs(params) %}
  {%- include "./breadcrumbs/_template.njk" -%}
{% endmacro %}
{% macro categorytiles(params) %}
  {%- include "./categorytiles/_template.njk" -%}
{% endmacro %}
{% macro footercolumns(params) %}
  {%- include "./footercolumns/_template.njk" -%}
{% endmacro %}  
{% macro filtercard(params) %}
  {%- include "./filtercard/_template.njk" -%}
{% endmacro %}
{% macro textarea(params) %}
  {%- include "./textarea/_template.njk" -%}
{% endmacro %}
{% macro highlight(params) %}
  {%- include "./highlight/_template.njk" -%}
{% endmacro %}
{% macro youtube(params) %}
  {%- include "./youtube/_template.njk" -%}
{% endmacro %}
{% macro iconframe(params) %}
  {%- include "./iconframe/_template.njk" -%}
{% endmacro %}
{% macro quicklinks(params) %}
  {%- include "./quicklinks/_template.njk" -%}
{% endmacro %}
{% macro sponsor(params) %}
  {%- include "./sponsor/_template.njk" -%}
{% endmacro %}

       
       