     <style>
      p > a {
        text-decoration: underline;
      }
      main a:hover {
        text-decoration:underline;
      }
      main a {
        color: #007ac2;
      }
      main ol {
        list-style-type:decimal;
       
      }
      main ul {
        list-style-type:disc;
        
      }
      main h1 {
          font-size: 2.5em;
          font-weight: 700;
        }
      main h2 {
          font-size: 1.5em;
          font-weight: 700;
        }
      h1.agencyname {
        font-family: D Sari Bold, Arial, sans-serif;
        font-size: 22px;
      }  
      .oswald {
        font-family: Oswald, Arial, sans-serif;
        }
      .noscaleicon {
        min-width: 1.4rem;
        min-height: 1.4rem;
      }
      .caret::after {
        content: '>';
        margin-left: 0.5em;
        margin-right: 0.5em
      }
      .caret:last-of-type::after{
        content: none;
      }
      .min-h-1\/5 {
        min-height: 20%
      }
      .horizontal-line::before, .horizontal-line::after {
          background-color: #000;
          content: '';
          display: inline-block;
          height: 1px;
          position: relative;
          vertical-align: middle;
          min-width: 30vw;
      }
      .nysdataTable td, th {
        border: 1px solid black;
        padding: 0.5em 0.5em;
      }

      .nysdataTable {
        width:100%;
        padding: 0.5em 0.5em;
        margin: 1em 1em;
      }

      .z-501 {
        z-index: 501;
      }

      </style>
   
