<script>
function filter(e){
    search = e.value.toLowerCase();
    document.querySelectorAll('.filter-card').forEach(function(row){
        text = row.getAttribute("data-meta").toLowerCase();
        if(text.match(search)){
            row.classList.remove("hidden");
        } else {
            row.classList.add("hidden");
        }
    });
    filterCount = document.querySelectorAll('.filter-card:not(.hidden)').length;
    var word = (filterCount === 1) ? "filter" : "filters";
    document.getElementById("filter-count").innerHTML = `<strong>${filterCount}</strong> ${word} results`
}
</script>
<div role="region" aria-label="Component search" aria-atomic="true" class="">
    <label for="nysds-filter">Type to filter by keyword</label>
    <input class="border-2 border-black" id="nysds-filter" class="" type="text" onkeyup="filter(this)"/>
    <p class="" aria-live="polite"><span id="filter-count"></p>
  </div>
<h2>{{params.heading}}</h2>
<ul class="list-none">
{%for filtercard in params.filtercards%}
<li class="filter-card" role="region" aria-atomic="true" aria-label="{{filtercard.title}}" data-meta="{{filtercard.title}} {{filtercard.description}}">
    <div class="border-2 rounded border-black">
      <header class="">
        <h3 class=""><a href="{{filtercard.link}}">{{filtercard.title}}</a></h3>
      </header>
      <div class="">
        <p>{{filtercard.description}}</p>
        </div>
    </div>
  </li>
  {%endfor%}
</ul>
