.nysds-pillars {
    display: flex;
    flex-direction: column;
}

.nysds-pillars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEDED;
}

.nysds-pillars-headline {
    background-color: #154973;
    border-bottom: 12px solid #457AA5;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;  
    color: #fff;
}

.nysds-pillars-headline h2 { 
    font-size: 28px;
    line-height: 1.15em;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.nysds-pillars-card {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items:center;
}

.nysds-pillars-card:last-of-type {
    margin-bottom: 50px;
}

.nysds-pillars-card-title-link {
    font-size: 22px !important;
    font-weight: 800;

    text-decoration: none !important;
    color: #154973 !important;
}

.nysds-pillars-card-title-link:hover {
    text-decoration: underline !important;
    color: #000 !important;
}

.nysds-pillars-card-title-link:focus {
    text-decoration: underline !important;
    color: #000 !important;
}

.nysds-pillars-card-title-link h3 {
    margin: 20px 0;
}

.nysds-pillars-icon {
    display: flex;
    justify-content: flex-start;
}

.nysds-pillars-icon svg {
    height: 85px;
    filter: invert(18%) sepia(15%) saturate(7500%) hue-rotate(187deg) brightness(97%) contrast(84%);
}

.nysds-pillars-check {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    height: 18px;
    width: 16px;
    display: block;
    margin-right: 8px;
    margin-top: 4px;
    flex-shrink: 0;
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(21deg) brightness(104%) contrast(101%);
}

.nysds-pillar-link {
    color: #004DD1;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: #000;
    text-decoration-thickness:1px;
    width: max-content;
    margin-top: auto;
}

.nysds-pillar-link:focus {
    text-decoration-thickness: 2px !important;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(11deg) brightness(93%) contrast(502%);
}

.nysds-pillar-link:hover {
    text-decoration-thickness: 2px !important;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(11deg) brightness(93%) contrast(502%);
}

.nysds-pillars-arrow {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M334.5 414c8.8 3.8 19 2 26-4.6l144-136c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22l0 72L32 192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32l288 0 0 72c0 9.6 5.7 18.2 14.5 22z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    margin-left: 6px;
    flex-shrink: 0;
    filter: invert(20%) sepia(63%) saturate(4292%) hue-rotate(215deg) brightness(87%) contrast(102%);
}

.nysds-pillars-large-arrow {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    display: block;
    margin-top: auto;
    flex-shrink: 0;
    filter: invert(20%) sepia(63%) saturate(4292%) hue-rotate(215deg) brightness(87%) contrast(102%);
}

.nysds-pillars-title {
    font-size: 22px !important;
    font-weight: 800;
    text-align: left;
    color: #154973;
}

.nysds-pillars-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nysds-pillars-card-list {
    display: flex !important;
    flex-direction: column;
    color: #000;
    padding-left: 0 !important;
    padding-bottom: 15px !important;
    align-items: center;
    text-align: center !important;

}

.nysds-pillars-card-list li {
    list-style-type: "";
    display: flex;
}

.nysds-pillars-cta {
    text-transform: uppercase;
    font-weight: bold;
    color: #FACE00;
    border-bottom: 2px solid #FACE00;
    text-decoration: none;

}

.nysds-pillars-cta:hover {
    border-bottom: 3px solid #FACE00;
    margin-bottom: -1px;
}

.nysds-pillars-cta:focus {
    border-bottom: 3px solid #FACE00;
    margin-bottom: -1px;
}

.nysds-pillars-cta::after {
    content: '\f30B';
    font-family: 'Font Awesome 6 Free';
    color: #FACE00;
    font-weight: bold;
    padding-left: 5px;
    display: inline-block;
  }





/* tablet */
@media (min-width: 768px) {
    .nysds-pillars-container {
        flex-direction: row;
        padding: 50px 0;
        align-items: normal;
    }

    .nysds-pillars-headline {
        padding:35px;
        height: 150px;
    }
    
    .nysds-pillars-headline h2 { 
        font-size: 32px;
    }
    
    .nysds-pillars-card {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-left: 35px;
        margin-right: 35px;
        width: 33.3%;
        justify-content: left;
        align-items: flex-start;
    }
    .nysds-pillars-card:last-of-type {
        margin-bottom: 0;
    }

    .nysds-pillars-card-list {
        padding-bottom: 25px !important;
        text-align: left !important;
        align-items: flex-start;
    }

    .nysds-pillars-card-title-link {
        text-align: left;
    }

}









/* desktop */
@media (min-width: 1280px) {
    .nysds-pillars {
        flex-direction: row;
    }
    .nysds-pillars-container {
        width: 75%;
        justify-content: space-evenly;
        padding: 60px 0;
    }
    .nysds-pillars-headline {
        height: auto;
        width: 25%;
        border-right: 12px solid #457AA5;
        border-bottom: none;
        padding:0 60px;
        text-align: left;
        align-items: flex-start;
    }
    .nysds-pillars-headline h2 { 
        font-size: 36px;
    }
    .nysds-pillars-card:first-of-type {
        margin-left: 60px;
    }
    .nysds-pillars-card-title-link h3 {
        font-size: 28px !important;
       
    }

    .nysds-pillars-title {
        font-size: 28px !important;
    }
}