/* mobile */
.nysds-find-services-highlight {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    text-align: center;
}

.nysds-find-services-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 48px;
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle;
    padding: 0 20px;
    cursor: pointer;
    border: 1px solid;
    border-color: #fff;
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
}

.nysds-find-services-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: "Proxima Nova", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #004DD1;
    letter-spacing: 1px;
    color: #004DD1;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 5px;
}

.nysds-arrow-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 250px;
    height: 48px;
    margin-top: 20px;
    color: #004DD1;
}

.nysds-find-services-arrow:hover {
    border-bottom: 3px solid #004DD1;
    margin-bottom:-2px;
}

.nysds-find-services-arrow:focus {
    border-bottom: 3px solid #004DD1;
    margin-bottom:-2px;
}

.nysds-find-services-arrow-icon {
    border-bottom: none;
}
.nysds-find-services-arrow-icon::after {
    content: "\F30B" !important;
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 900 !important;
    border-bottom: none;
    color: #004DD1;
}

.nysds-find-services-button:nth-last-of-type(even)  {
    margin-top: 30px;
}

.nysds-find-services-button:hover {
    background-color: #000;
}

.nysds-find-services-button:focus {
    background-color: #000;
}

.nysds-find-services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.nysds-find-services-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.nysds-find-services-image-area {
    display: none;
}

.nysds-find-services-heading {
    margin-top: 0;
    margin-bottom: 15px;
}

.nysds-find-services-description {
    margin-top: 0;
    margin-bottom: 10px !important;
}

/* tablet */
@media (min-width: 768px) {
    .nysds-find-services-highlight {
        padding: 50px 35px;
    }
    .nysds-find-services-links {
        flex-direction: row;
    }
    .nysds-find-services-button:nth-last-of-type(even)  {
        margin-left: 5%;
        margin-top:0;
    }
    .nysds-arrow-link {
        margin-top: 0;
    }
  
  
}




/* desktop */
@media (min-width: 1024px) {
    .nysds-find-services-highlight {
        flex-direction: row;
        border-radius: 15px;
        border: 2px solid #d0d0ce;
        padding:40px;
        text-align: left;
        margin: 60px;
    }

    .nysds-find-services-content {
        width:55%;
    }

    .nysds-find-services-links { 
        justify-content: flex-start;
        align-items: flex-start;
    }
    .nysds-find-services-image-area {
        display: flex;
        width: 45%;
        margin-left: 5%;
    }
    
    .nysds-find-services-image {
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
        max-height: 250px;
    }
}

@media (min-width: 1280px) {
    .nysds-find-services-highlight {
        margin: 0 auto;
        max-width: 1160px;
    }

}