<section class="nysds-find-services-highlight bg-{{params.backgroundColor}}" id="nysds-find-services-highlight-id">
    <div class="nysds-find-services-content">
        <h2 class="nysds-find-services-heading text-primary-blue">{{params.heading}}</h2>
        <p class="nysds-find-services-description">{{params.description}}</p>
        <div class="nysds-find-services-links">
            {% for button in params.links %}
                

                {% if button.linkStyle == "button"%}
                <a href="{{button.link}}" data-path="{{button.dataAttribute}}" class="nysds-find-services-button text-bold bg-{{button.color}}">  {{button.text | safe}} </a>
                {% endif %}

                {% if button.linkStyle =="arrow" %}
                <div class="nysds-arrow-link">
                    <a href="{{button.link}}" data-path="{{button.dataAttribute}}" class="nysds-find-services-arrow"> 
                        {{button.text | safe}} 
                    </a>
                    <span class="nysds-find-services-arrow-icon" aria-hidden="true"></span>
                </div>
                
                {% endif %}
                
                
            {% endfor %}
        </div>
    </div>
    <div class="nysds-find-services-image-area">
        <img src="{{params.image}}" class="nysds-find-services-image" alt="{{params.imageAlt}}" />
    </div>
</section>