@media (max-width: 550px) {
.xs\:nysds-text-36 {
    font-size: 36px;
}

.xs\:nysds-text-32 {
    font-size: 32px;
}

.xs\:nysds-text-28 {
    font-size: 28px;
}

.xs\:nysds-text-22 {
    font-size: 22px;
}

.xs\:nysds-text-18 {
    font-size: 18px;
}

.xs\:nysds-min-h-512 {
    min-height: 512px;
}

.xs\:nysds-min-h-300 {
    min-height: 300px;
}

.xs\:nysds-min-h-256 {
    min-height: 256px;
}

.xs\:nysds-w-360 {
    width:360px;
}

.xs\:nysds-line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.xs\:nysds-line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.xs\:nysds-line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

.xs\:nysds-line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


}