.nysds-search-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 7% 40px;
}

.nysds-search-hero-heading {
    font-size: 36px;
    line-height: 1.15em;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 800;
    margin-top: 0;
}

.nysds-text-white {
    color: #fff !important;
}

.nysds-text-black {
    color: #000;
}

#nysds-service-search-input {
    padding: 15px;
    font-size: 1.1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
    width:70%;
}

#nysds-service-search-input:focus {
    outline: 3px #FACE00 solid;
    box-shadow:inset 0 0 0 4px
}

#nysds-service-search-submit {
    font-size: 1rem;
    border:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #EDEDED;
    color: #000;
    font-weight: bold;
    padding: 0 20px;
}

#nysds-service-search-submit:hover {
    background-color: #000;
    color: #fff;
}

#nysds-service-search-submit:focus {
    background-color: #000;
    color: #fff;
    outline: 3px #FACE00 solid;
} 

.nysds-search-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

#nysds-service-search-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* tablet */
@media (min-width: 768px) {

    
  
}




/* desktop */
@media (min-width: 1024px) {
    .nysds-search-hero {
        align-items: flex-start;
        padding: 30px 20% 40px;
    }
    #nysds-service-search-form {
        justify-content: flex-start;
    }
    #nysds-service-search-input {
        width:50%;
    }

}