{% if params.variant == "colorHero" %}
<section class="nysds-search-hero-container bg-primary-{{params.background}}" id="nysds-search-hero">
    <div class="nysds-search-hero bg-primary-{{params.searchBackground}}">
        <h1 class="nysds-search-hero-heading nysds-text-{{params.color}}">
            {{params.heading}}
        </h1>
        <p class="nysds-search-description nysds-text-{{params.color}}">
            {{params.description}}
        </p>
        <div class="nysds-search-container">
            <form id="nysds-service-search-form">
                <label for="nysds-service-search-input" class="sr-only">
                    Search All Services
                </label>
                <div class="nysds-search-box">
                    <input 
                        id="nysds-service-search-input"
                        placeholder="Search All Services" 
                        size="8" 
                        type="search" 
                        enterkeyhint="search"
                    >
                    <button type="submit" id="nysds-service-search-submit"> 
                    <span class="sr-only">  Search all state services </span>
                        <span class="fa-solid fa-magnifying-glass" aria-hidden="true"></span>
                    </button>  
                </div>  
            </form>
        </div>
    </div>
</section>
{% endif %}
{% if params.variant == "imageHero" %}

{% endif %}