<section class="nysds-search-hero bg-primary-{{params.background}}" id="nysds-search-hero">

    <h1 class="nysds-search-hero-heading nysds-text-{{params.color}}">
        {{params.heading}}
    </h1>

    <p class="nysds-text-{{params.color}}">
        {{params.description}}
    </p>

    <div class="nysds-search-container">
        <form id="nysds-service-search-form">
            <label for="nysds-service-search-input" class="sr-only">
                Search All Services
            </label>
            <input 
                id="nysds-service-search-input"
                placeholder="Search All Services" 
                size="8" 
                type="search" 
                enterkeyhint="search"
            >
            <button type="submit" id="nysds-service-search-submit"> Search <span class="sr-only"> all state services </span></button>
            
        </form>
    </div>




</section>