<section class="flex flex-col -mx-8 md:-mx-20 my-14">
<h2 class="nysds-text-36 font-extrabold text-center text-black mb-4 w-full">{{params.frametitle}}</h2>
<div class="self-center lg:justify-center flex flex-col lg:flex-row lg:flex-wrap">

{% for card in params.cards %}
<article class="nysds-w-360 mx-4 my-6 bg-ny-light rounded-3xl border-ny-mid  border-1 border">
<div class="">
<a href="{{card.link}}" tabindex="-1" aria-hidden="true">
<img class="rounded-3xl object-cover nysds-h-240" src="{{card.image}}" alt="{{card.imagealt}}" />
</a>
</div>
<h3 class="font-bold text-xl mb-6 mt-8">
<a class="hover:!underline focus:!underline !no-underline !text-ny-links visited:!text-ny-links mx-6" href="{{card.link}}">{{card.title}}</a>
</h3>
<p class="m-6 !text-black">{{card.content}}</p>
</article>
{% endfor %}

</div>
</section>