<header class="{{ params.color }} p-4 h-20 flex items-center w-full ">
<section class="flex ">
  <nav class="flex w-full" aria-label="Primary Site Navigation">
    <button class="block w-16 mr-2 py-3 lg:hidden focus:!outline-white" id="nysds-mobile-menu" aria-controls="nysds-list-menu" aria-expanded="false">
      <svg class="m-auto" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg> 
      <span class="sr-only">Mobile Navigation Menu</span>
    </button>
  <h1 class="dsari nysds-text-22 text-white mx-0 lg:ml-16 lg:mr-6 flex items-center"><a href="{{ params.link }}" class="focus:!outline-white">{{ params.agencyname }}</a></h1>
    <ul class="list-none hidden lg:flex lg:flex-row lg:items-center text-white captialize font-bold" id="nysds-list-menu"> <!-- this is first level -->
    {% for links in params.items %}
      <li class="">
          {% if links.subitems %}
            <button class="nysds-submenu-button captialize font-bold p-1 m-2 focus:!outline-white" aria-controls="nysds-submenu-{{links.number}}" aria-expanded="false">{{links.title}}</button>
              <ul class="list-none nysds-submenu hidden absolute bg-{{params.color}}" id="nysds-submenu-{{links.number}}"> <!-- this is second level -->
                {% for sublinks in links.subitems %}
                <li class="">
                  <a href="{{sublinks.link}}" class="p-2 m-1 focus:!outline-white">{{sublinks.title}}</a>
                </li>
                {% endfor %}
              </ul>
          {% else %}
          <a href="{{links.link}}" class="p-2 m-1 focus:!outline-white">{{links.title}}</a>
          {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
</section>
</header>



