<header class="flex items-center w-full p-4 h-20 {{ params.color }} ">
<section class="flex">
  <nav class="flex w-full" aria-label="Primary Site Navigation">
    <div class="relative flex items-center h-20 -ml-2 lg:ml-0">
      <h1 class="flex items-center ml-18 lg:ml-16 mr-6 text-white dsari nysds-text-22">
        <a href="{{ params.link }}" class="focus:!outline-white">{{ params.agencyname }}</a>
      </h1>
      <div class="absolute left-0 top-0 flex items-center h-20">
        <button class="block lg:hidden w-16 py-3 focus:!outline-white nysds-menu-icon nysds-mobile-button" id="nysds-mobile-menu" aria-controls="nysds-list-menu" aria-expanded="false">
          <span class="sr-only">Mobile Navigation Menu</span>
        </button>
      </div>
     </div>
    <ul class="absolute left-0 z-50 hidden lg:static lg:flex lg:flex-row lg:items-center mt-20 lg:mt-0 text-white captialize font-bold {{params.color}} list-none" id="nysds-list-menu" > <!-- this is first level -->
    {% for links in params.items %}
      <li class="w-72 lg:w-auto mx-4 lg:mx-auto lg:ml-2 lg:first:ml-2 last:mb-1 lg:last:mb-0">
          {% if links.subitems %}

            <button type="button" class="w-full lg:w-auto px-4 py-4 lg:px-0 lg:py-4 lg:ml-4 focus:!underline focus:!outline-none captialize text-left nysds-mobile-button nysds-submenu-button font-bold" aria-controls="nysds-submenu-{{links.number}}" aria-expanded="false">{{links.title}}</button> <!-- button if there is a submenu -->

              <ul class="absolute hidden w-80 lg:w-72 lg:mt-3 list-none left-0 lg:left-auto border-t border-white {{params.color}} nysds-submenu" id="nysds-submenu-{{links.number}}"> <!-- this is second level -->
                <li class="pl-8 text-left py-4 block lg:hidden "><button type="button" class="nysds-close-x text-xl nysds-menu-back"> Back <span class="sr-only">back to previous menu</span></button></li>
                {% for sublinks in links.subitems %}
                <li class="flex ">
                  <a href="{{sublinks.link}}" class="w-full inline-block pl-8 md:pl-4  py-4 focus:!underline focus:!outline-none">{{sublinks.title}} </a>
                </li>
                {% endfor %}
              </ul>

          {% else %}
          <a href="{{links.link}}" class="w-full inline-block lg:w-auto px-4 py-4 lg:px-0 lg:ml-4 focus:!underline focus:!outline-none nysds-submenu-link">{{links.title}}</a><!-- link if no sub menu -->
          {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
</section>
</header>



