<header class="{{ params.color }} p-4">
<nav class="flex flex-row">
{# <svg xmlns="http://www.w3.org/2000/svg" width="30" height="22" fill="currentColor" class="bi bi-list text-white md:hidden mt-1" viewBox="0 0 13 13">
  <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
</svg> #}
<h1 class="dsari nysds-text-22 text-white ml-8 md:ml-16"><a href="{{ params.link }}" aria-label="{{ params.arialabel }}">{{ params.agencyname }}</a></h1>
</nav>
</header>



