<style>
.hero-background-image {
    url:{{params.imagelink}}
}
</style>
<section class="">
<div class="">
<div class="lg:nysds-min-h-512 hero-background-image"> <!-- Background image wrapper -->
<h2 class="font-extrabold nysds-text-36">{{params.title}}</h2>
<p class=""> {{params.description }} </p>
{% for button in params.buttons%}
<a href="{{button.link}}">{{button.text}}</a>
{% endfor %}
</div>
</div>
</section>