<style>
.hero-background-image {
    background-image: url('../img/'); <!-- image here -->  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
</style>



<section class="relative -mx-8 md:-mx-20 text-white">
    <div class="hero-background-image nysds-min-h-256 md:nysds-min-h-300 lg:nysds-min-h-512"></div><!-- Background image div -->
    <div class="w-full h-full flex lg:absolute lg:top-0">
        <div class="flex w-full lg:w-1/2 items-center lg:ml-20">
            <section class="bg-admin-first p-9 w-full lg:w-3/4 lg:bg-opacity-90 lg:rounded-2xl 2xl:max-w-2xl">
                <h2 class="font-extrabold nysds-text-36 mb-4">This is the Hero Title</h2>
                <p class="mb-8">This is where the hero description is. Please limit to two sentences. It's really not for a giant block of text.</p>
                <div class="flex flex-col md:flex-row">
                    <div class="w-full md:w-auto last-of-type:mt-8 md:last-of-type:mt-0">
                        <a class="mr-1 uppercase text-sm font-bold border-b border-white focus:nysds-border-b-3 hover:nysds-border-b-3 hover:border-white" href="#">First Button Text</a>
                        <span class="icon-long-arrow-right mr-8" aria-hidden="true"></span>
                    </div>
                    <div class="w-full md:w-auto last-of-type:mt-8 md:last-of-type:mt-0">
                        <a class="mr-1 uppercase text-sm font-bold border-b border-white focus:nysds-border-b-3 hover:nysds-border-b-3 hover:border-white" href="#">Second Button Text</a>
                        <span class="icon-long-arrow-right mr-8" aria-hidden="true"></span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
