<section class="my-14 w-11/12 max-w-7xl flex flex-col justify-center m-auto">
<h2 class="nysds-text-36 font-extrabold text-center mb-4 w-full">{{params.title}}</h2>
<div class="nysds-textarea flex flex-col">
<p>The OGS Bureau of Commercial Management is the primary point of contact for all commercial lease activity in OGS-managed buildings. The Bureau:</p>
<ul class="ml-8 py-2">
<li>Procures new tenants;</li>
<li>Negotiates and writes lease agreements for state-owned space; and</li>
<li>Manages lease agreements. </li>
</ul>
<p>Parties interested in leasing retail space should respond to Requests for Information posted below, or contact the Bureau of Commercial Management by email at <a href="#" >foodservice@ogs.ny.gov</a>.</p>
<a class="nysds-exclude bg-admin-first hover:bg-black hover:underline focus:bg-black focus:underline my-4 p-4 rounded-xl text-white font-bold text-center w-2/3 md:w-1/3 lg:w-1/4" href="{{params.link}}">Button in the text area</a>
</div>
</section>