<section class="nysds-textarea my-14 w-11/12 max-w-7xl flex flex-col justify-center m-auto">
<!-- frame heading -->
<h2 class="nysds-text-36 font-extrabold text-center mb-4 w-full text-black">{{params.title}}</h2>

{% include 'textarea-content/demo.njk'%}

  
</section><!-- end wrapper -->