<a href="{{ params.link }}" class="block w-max p-5 m-8 no-underline rounded hover:bg-gray-900 hover:text-underline text-white uppercase tracking-widest text-sm font-bold border border-solid border-white" aria-label="{{ params.arialabel }}"> {{ params.buttontext }} </a> 



