---
layout: layout.njk
title: NYSDS CSS
url: nysds.dev/engineering
domain: nysds.dev
facebook:
    title:  NYS Digital Services Engineering Practices
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
twitter:
    title: NYS Digital Services Engineering Practices
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
---
{% from '../_includes/_components.njk' import hero,categorytiles,card,bio,textarea,highlight,iconframe,quicklinks  %}

<section class="nysds-textarea min-h-screen mt-8">
<h2> Nothing here yet! </h2>
<p>Links to resources we use:
    <ul>
        <li><a href="https://google.github.io/styleguide/htmlcssguide.html"> Google HTML/CSS Practices Guide</a></li>
    </ul>
</section>