---
layout: layout.njk
title: NYS Digital Services Engineering Practices
url: nysds.dev/engineering
domain: nysds.dev
facebook:
    title:  NYS Digital Services Engineering Practices
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
twitter:
    title: NYS Digital Services Engineering Practices
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
---
{% from '../_includes/_components.njk' import hero,categorytiles,card,bio,textarea,highlight,iconframe,quicklinks  %}

{{ hero({ 
    title:"NYSDS Engingeering Practices Guide",
    description:""
   

})}}

{{ card({ 
    frametitle:"Row of Cards",
    cards: [
        {
           title:"HTML Guide",
           content:"A sentence or two of text that gives the general idea of what this link goes to or the topic of the page.",
           link:"https://budget.ny.gov",
           arialabel:"",
           image:"/img/office.jpg",
           imagealt:"Office workers in a conference room having a collaborative working session"
        },
        {
           title:"CSS Techniques",
           content:"A sentence or two of text that gives the general idea of what this link goes to or the topic of the page.",
           link:"https://budget.ny.gov",
           arialabel:"",
           image:"/img/office.jpg",
           imagealt:"Office workers in a conference room having a collaborative working session"
        },
        {
           title:"Javascript",
           content:"A sentence or two of text that gives the general idea of what this link goes to or the topic of the page. This one is longer to show that the cards stretch to the height of the tallest card.",
           link:"https://budget.ny.gov",
           arialabel:"",
           image:"/img/office.jpg",
           imagealt:"Office workers in a conference room having a collaborative working session"
        }
    ]
})}}
