---
layout: layout.njk
title: NYS Digital Services Engineering Practices
url: nysds.dev/engineering
domain: nysds.dev
facebook:
    title:  NYS Digital Services Engineering Practices
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
twitter:
    title: NYS Digital Services Engineering Practices
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
---
{% from '../_includes/_components.njk' import hero,categorytiles,card,bio,textarea,highlight,iconframe,quicklinks  %}

{{ hero({ 
    title:"NYSDS Engingeering Practices Guide",
    description:"Check out some of our recommendations."
})}}


{{ quicklinks({ 
    frametitle:"Standards Guides",
    colleft: [
        {
            title:"HTML Guide",
            link:"/engineering/html",
            content:"HTML is awesome and we like to use it correctly."
        },
        {
            title:"second tile",
            link:"https://budget.ny.gov",
            content:"A sentence or two of text that gives the general idea of what this link goes to or the topic of the page. "
        }
    ],
    colright: [
        {
            title:"first tile",
            link:"https://budget.ny.gov",
            content:"A sentence or two of text that gives the general idea of what this link goes to or the topic of the page. "
        },
        {
            title:"second tile that is longer fix this",
            link:"https://budget.ny.gov",
            content:"A sentence or two of text that gives the general idea of what this link goes to or the topic of the page. "
        }
    ]
})}}