---
layout: layout.njk
title: NYS Digital Services Engineering Practices
url: nysds.dev/engineering
domain: nysds.dev
facebook:
    title:  NYS Digital Services Engineering Practices
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
twitter:
    title: NYS Digital Services Engineering Practices
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
---
{% from '../_includes/_components.njk' import hero,categorytiles,card,bio,textarea,highlight,iconframe,quicklinks  %}

{{ hero({ 
    title:"NYSDS Engingeering Practices Guide",
    description:"Check out some of our recommendations."
})}}


{{ quicklinks({ 
    frametitle:"Standards Guides",
    colleft: [
        {
            title:"HTML Guide",
            link:"/engineering/html",
            content:"HTML is awesome and we like to use it correctly."
        },
        {
            title:"CSS Techniques",
            link:"/engineering/css",
            content:"CSS is very powerful and there's tons of right ways to do everything. Also it has lots of quirks. "
        }
    ],
    colright: [
        {
            title:"Javascript",
            link:"/engineering/js",
            content:"Javascript causes so many problems, so lets try to use very little of it. "
        },
        {
            title:"Code Review",
            link:"/engineering/review",
            content:""
        }
    ]
})}}