---
layout: layout.njk
title: NYSDS JS Guide
url: nysds.dev/engineering/js
domain: nysds.dev
facebook:
    title:  NYS Digital Services Engineering Practices - Javascript
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
twitter:
    title: NYS Digital Services Engineering Practices - Javascript
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
---
{% from '../_includes/_components.njk' import hero,categorytiles,card,bio,textarea,highlight,iconframe,quicklinks  %}
<section class="nysds-textarea min-h-screen mt-8">
<h2> Nothing here yet! </h2>
<p>Links to resources we use:
    <ul>
        <li><a href="https://google.github.io/styleguide/jsguide.html"> Google Javascript Practices Guide</a></li>
    </ul>
</section>