---
layout: layout.njk
title: NYSDS Code Review & Process
url: nysds.dev/engineering/review
domain: nysds.dev
facebook:
    title:  NYS Digital Services Engineering Practices - Process
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
twitter:
    title: NYS Digital Services Engineering Practices - Process
    description: Engineering best practices for NYSDS tools and utilities.
    image: nygov-logo.png
---
{% from '../_includes/_components.njk' import hero,categorytiles,card,bio,textarea,highlight,iconframe,quicklinks  %}

<section class="nysds-textarea min-h-screen mt-8">
<h2> Nothing here yet! </h2>
<p>Links to resources we use:
    <ul>
        <li><a href="https://google.github.io/eng-practices/review/reviewer/standard.html"> Google Code Review Standards</a></li>
        <li><a href="https://cloud.google.com/architecture/devops/devops-process-working-in-small-batches"> Google DevOps Process - working in small batches</a></li>
        <li><a href="https://cloud.google.com/architecture/devops/devops-tech-trunk-based-development"> Trunk-based Development</a></li>

        
    </ul>
</section>