<!-- youtube video in text area-->


<article class="flex flex-col self-center text-center my-8 w-full md:w-2/3 m-auto">
<h3 class="nysds-text-32 font-bold text-admin-first my-4"> Video Heading</h3>
<div class="nysds-youtube-video">
<div class="flex items-center justify-center w-full h-full absolute bg-black">
<button class="nysds-play-button bg-gray-200 border rounded-xl hover:bg-white w-24 h-16" id="video-play"><span class="sr-only"> Play this Youtube video </span></button>
</div>
</div>
</article>

{# <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/g69w1fLnQ7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> #}