<!-- youtube video in text area-->
<article class="flex flex-col self-center text-center my-8 w-full md:w-2/3 m-auto">
<h3 class="nysds-text-32 font-bold text-admin-first my-4"> Video Heading</h3>
<div class="nysds-youtube-video">
<div class="nysds-video-area hidden" data-video="{{params.videoID}}" data-video-embed="" data-video-description="{{params.description}}"></div>
<div class="flex items-center justify-center w-full h-full absolute bg-black nysds-placeholder-area">
<img src="" alt="A youtube placeholder image" class="h-full absolute z-10 nysds-video-image"/>
<button class="z-20 nysds-play-button bg-gray-200 border rounded-xl hover:bg-white w-24 h-16 nysds-video-play"><span class="sr-only"> Play a Youtube video about <span class="nysds-video-description"></span> </span></button>
</div>
</div>
</article>