<!-- youtube video in text area-->
<article class="flex flex-col self-center text-center my-8 w-full md:w-2/3 m-auto">
<h3 class="nysds-text-32 font-bold text-admin-first my-4"> Video Heading</h3>
<div class="nysds-youtube-video">
<div class="video-area" data-video="{{params.videoID}}"></div>
<div class="flex items-center justify-center w-full h-full absolute bg-black placeholder-area">
<img src="https://img.youtube.com/vi/{{params.videoID}}/0.jpg" alt="{{params.description}}" class="h-full absolute z-10 "/>
<button class="z-20 nysds-play-button bg-gray-200 border rounded-xl hover:bg-white w-24 h-16 video-play"><span class="sr-only"> Play a Youtube video about {{params.description}} </span></button>
</div>
</div>
</article>