<article class="-mx-8 md:-mx-20 my-14">
    <div class="bg-ny-light w-full flex flex-col lg:flex-row">
        <section class="w-full flex justify-center lg:w-1/3">
            <img class="object-cover h-96 lg:pl-16" src="/img/IMAGEHERE.jpg" alt="Good Alt text for this image" /> <!-- you need to put the path to the image and the image alt text here -->
        </section>
        <section class="flex flex-col px-12 justify-center w-full lg:w-2/3 lg:pl-12">
            <h3 class="text-xl font-bold my-4">This is the Title of The Bio Frame</h3>
            <p class="mb-4">This is the main content of the bio frame. Two sentences max.</p>
            <a class="bg-admin-first uppercase hover:bg-black hover:underline focus:bg-black focus:underline mb-8 p-4 rounded-xl text-white font-bold text-center m-auto lg:m-0 w-1/2 md:w-1/3 lg:w-1/4" href="#" aria-label="">
               This is the button link text
            </a> <!-- only use the aria label to describe the button link if the link text isn't actually descriptive, like "learn more." Otherwise REMOVE IT.-->
        </section>
    </div>
</article>
