@media (min-width: 768px) {
.md\:nysds-text-36 {
    font-size: 36px;
}

.md\:nysds-text-32 {
    font-size: 32px;
}

.md\:nysds-text-28 {
    font-size: 28px;
}

.md\:nysds-m-30 {
    margin: 30px;
}

.md\:nysds-mx-30 {
    margin: 0px 30px;
}

.md\:nysds-my-30 {
    margin: 30px 0px;
}

.md\:nysds-text-22 {
    font-size: 22px;
}

.md\:nysds-text-18 {
    font-size: 18px;
}

.md\:nysds-min-h-512 {
    min-height: 512px;
}

.md\:nysds-min-h-300 {
    min-height: 300px;
}

.md\:nysds-min-h-256 {
    min-height: 256px;
}
}