<section class="flex flex-col md:flex-row items-center mt-4 pt-4">
{% for icons in params.iconcards %}
<div class="md:border-r md:border-dotted mt-8 md:mt-0 w-3/4 md:w-1/4 md:h-64 border-0">
<div class="flex flex-col items-center"><img alt="an icon of a hand that is clicking a button" class="p-2 m-2" src="/sites/g/files/oee1181/files/media/2021/06/nys-ep-icon_web-click.png" />
<h3 class="text-xl bold text-blue-900 uppercase py-2 my-2">Step 1</h3>
<p class="text-center w-full md:w-3/4">Visit the Excelsior Pass web portal at <a aria-label="Excelsior Pass Web Portal" href="https://epass.ny.gov/"> epass.ny.gov </a></p>
</div>
</div>
{%endfor%}
</section>

<p class="italic text-center pt-12 md:pt-16 md:mt-16 block mt-12"><strong>Excelsior Pass</strong> is a voluntary platform. Your data and information is kept secure at all times.</p>