<section class="nysds-iconframe">
    <h2 class="nysds-iconframe-heading">{{params.title}}</h2>
    {% if params.description %}
        <p class="nysds-iconframe-description">{{params.description}}</p>
    {%endif%}
    <div class="nysds-iconframe-cards">
        {% for item in params.iconcards %}
            <div class="nysds-iconframe-iconcard">
                <div class="nysds-iconframe-icon">
                    <img class="nysds-iconframe-icon-img" src="{{item.icon}}" alt="{{item.iconalt}}" />
                </div>
                    {%if item.titlelink%} 
                    <h3 class="nysds-iconframe-card-heading">
                        <a href="{{item.titlelink}}" class="nysds-iconframe-card-link">{{item.title}}</a>
                    </h3>
                    {% else %}
                    <h3 class="nysds-iconframe-card-heading">
                        {{item.title}}
                    </h3>
                    {%endif%}
            
                <p class="nysds-iconframe-content">{{item.content}}</p>
            </div>
            {% if params.process %}
                <div class="nysds-arrow-right "><span class="sr-only"> An arrow pointing to the right indicating the next step in this process </span></div>
            {% endif %}
        {% endfor %}
    </div>
    {% if params.ctalink%}
        <div class="nysds-iconframe-cta">
                <a class="nysds-iconframe-cta-link" href="{{params.ctalink}}" {%if params.ctaaria%} aria-label="{{params.ctaaria}}"{%endif%}>
                    {{params.cta}}
                </a>
        </div>
    {%endif%}
</section>